@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

a.button7 {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Sriracha", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background: linear-gradient(to left, #24243e, #141e30, #0f0c29);
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}
.buttonContainer2 {
  margin-top: 5%;
}
.loginButton {
  height: 5em;
  width: 75%;
  display: inline-block;
  padding: 0.7em 1.7em;
  margin-top: 10%;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Sriracha";
  font-weight: 400;
  color: #ffffff;
  background: linear-gradient(to left, #24243e, #141e30, #0f0c29);
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
  border: none;
}

input {
  width: 75%;
  margin: 5%;
  height: 3em;
  text-align: center;
  font-size: 1em;
  border-radius: 10px;
}
.loginLogo {
  margin-top: -40%;
}

h1 {
  text-transform: Uppercase;
  margin-bottom: 0.5em;
  font-family: "Rubik", sans-serif;
  font-size: 6rem;
  color: #e4e5e6;
}

h1:before,
h1:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

h1:before {
  z-index: -1;
  text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, 0.15);
}

h1:after {
  z-index: -2;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
    20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
  mix-blend-mode: multiply;
}
h3 {
  color: white;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #141e30;
  background: linear-gradient(to right, #24243e, #141e30, #0f0c29);
}

.container {
  text-align: center;
}

.buttonContainer {
  width: 75%;
  display: block;

  text-align: center;
  margin-top: 40%;
}
.register {
  font-size: 4em;
}

a.button7:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(60, 19, 184, 0.12);
}

.loginMessage {
  font-size: 1em;
  color: white;
  background-color: rgb(109, 176, 109);
  border: 1px solid rgb(73, 152, 73);
  width: 75%;
  margin: auto;
  padding: 5%;
  border-radius: 5px;
}

.errorMessage {
  font-size: 1em;
  color: white;
  background-color: rgb(213, 94, 81);
  border: 2px solid rgb(145, 39, 39);
  width: 75%;
  margin: auto;
  padding: 5%;
  border-radius: 5px;
}

@media all and (max-width: 30em) {
   a.button7 {
    display: block;
    margin: 0.4em auto;
  }

   .loginButton {
    display: block;
    margin: 0.4em auto;
  }
}
